// VARIABLES

// color
$primary-color-p: #6fc6f1;
$color-btn: #ef6f31;
$backgroung-btn: #fdf0ea;
$primary-color-text: #747881;
$backgroung-section: #fdf0ea;
$color-text-section: #a3b1cd;
$backgroung-header: #f5f5f5;
$backgroung-footer: #244186;
$backgroung-hero: #fbf9f6;
$color-white: white;
$color-black: black;
$backgroung-secSix: #f5f7fa;

// fon family-p
$fontFamily: "Meow Script", cursive;
$fontsixe-p: 2rem;
$overflow: hidden;

// font
$font-weight-primary: 900;
$font-weight-secondary: 700;
$font-weight-third: 200;
